---
- name: pip install packageing
  pip:
    name:
      - docker
      - docker-compose

- name: setting sysctl #docker-composeに割り当てるメモリを増やす処理
  sysctl:
    name: vm.max_map_count
    value: "262144"
    reload: yes # default yes
    sysctl_file: /etc/sysctl.d/99-sysctl.conf
  when: "'giservers in group_names'"

- name: compose directory create
  file:
    path: /opt/docker_compose
    state: directory

- name: git task
  import_tasks: tasks/git_lab.yml

- name: compose up
  docker_compose:
    project_src: /opt/docker_compose
    files:
      - docker-compose.yml
    state: present

- name: docker-compose status check
  shell: docker-compose ps
  args:
    chdir: /opt/docker_compose
  register: ps_result
  failed_when: '"Exit" in ps_result.stdout'
