---
- name: setting sysctl #docker-composeに割り当てるメモリを増やす処理
  sysctl:
    name: vm.max_map_count
    value: "262144"
    reload: yes # default yes
    sysctl_file: /etc/sysctl.d/99-sysctl.conf
  when: "'giservers in group_names'"

- name: compose directory create
  file:
    path: /opt/docker_compose
    state: directory

- name: git task
  import_tasks: tasks/git_lab.yml
