---
- name: Install pre docker package
  yum:
    name:
      - yum-utils
      - python-pip
      - gcc

- name: add docker-ce-nightly repo
  yum_repository:
    name: docker-ce-nightly
    description: docker-ce-nightly repository
    baseurl: https://download.docker.com/linux/centos/7/$basearch/nightly
    gpgkey: https://download.docker.com/linux/centos/gpg

- name: add docker-ce-nightly-debuginfo repo
  yum_repository:
    name: docker-ce-nightly-debuginfo
    description: docker-ce-nightly-debuginfo repository
    baseurl: https://download.docker.com/linux/centos/7/debug-$basearch/nightly
    gpgkey: https://download.docker.com/linux/centos/gpg

- name: add docker-ce-nightly-source repo
  yum_repository:
    name: docker-ce-nightly-source
    description: docker-ce-nightly-source repository
    baseurl: https://download.docker.com/linux/centos/7/source/nightly
    gpgkey: https://download.docker.com/linux/centos/gpg

- name: Install docker-ce
  yum:
    name:
      - docker-ce 
      - docker-ce-cli
      - containerd.io
    update_cache: yes
    state: present

- name: Install docker-compose
  get_url:
    url: "https://github.com/docker/compose/releases/download/1.24.0/docker-compose-{{ ansible_system }}-{{ ansible_architecture }}"
    dest: /usr/local/bin/docker-compose
    mode: +x
  become: yes

- name: link docker-compose
  file:
    src: /usr/local/bin/docker-compose
    dest: /usr/bin/docker-compose
    state: link

- name: restart docker
  systemd:
    state: started
    name: docker.service
    enabled: yes